/* This is External CSS */

p {
    color: red;
}

h1 {
    color: blue;
}

.special_color {
    color: darkred;
}

#text {
    color: blueviolet;
    font-family: "Arial Black";

    border: 2px double red;

    border-color: red;
    border-style: double;
    border-width: 2px;
}
